@font-face {
   font-family: "Gilory-Medium";
   src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
  }
