/* reset styles */
@import "reset";
/*====================*/

/* fonts */
@import "fonts";
/*====================*/

/* header */
@import "header";
/*====================*/

/* footer */
@import "footer";
/*====================*/

/* popup */
@import "popup";
/*====================*/

/*general styles*/
.popup-wrapper {
   padding: 0 20px;
   max-width: 100%;
}

body {
   height: 1000px;
}

body.lock {
   overflow: hidden;
}
/*====================*/
